.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.author-photo-200 {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.justify-align-text {
  text-align: justify;
}

button {
  cursor: pointer;
}
